$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grey-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$font-size-sm: 13px;
$font-size-lrg: 20px;
$font-size-med: 16px;
$font-size-p: 14px;
$border-radius: 10px;
$large-border-radius: 20px;
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-large-phone: 600px;